@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Administradores</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var adm in ViewBag.administradores)
    {
        <tr>
        <th scope="row">@adm.Id</th>
        <td>@adm.Nome</td>
        <td>@adm.Email</td>
        </tr>
    }
  </tbody>
</table>
